@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/* line 2, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/base/_base.scss */
* {
  box-sizing: border-box;
  font-family: serif;
  font-weight: normal;
  background: none;
  border: none;
  letter-spacing: .4px; }

/* line 10, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/base/_base.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

/* line 16, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/base/_base.scss */
p {
  width: 100%; }

/* line 19, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/base/_base.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 23, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/base/_base.scss */
hr.styled {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

/* line 29, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/base/_base.scss */
hr.styled-small {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 10px; }

/* line 2, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
header {
  background-image: url(../../img/lobster1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: #fff; }
  /* line 9, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
  header p {
    font-size: 20px;
    font-weight: 200; }

/* line 15, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.logo-top {
  font-family: 'Coming Soon', cursive;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  color: #af473c; }

/* line 23, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.logo-bottom {
  font-family: 'Cairo' ,sans-serif;
  font-size: 40px;
  font-weight: 200; }

/* line 29, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.logo {
  justify-content: left; }

/* line 34, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.action {
  justify-content: right; }

/* line 39, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.email {
  text-transform: uppercase; }

/* line 43, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.book {
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #af473c;
  color: #fff;
  font-size: 20px; }

/* line 51, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.title {
  text-transform: uppercase; }

/* line 58, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
.nav-bar {
  display: block;
  top: 50%;
  width: 100%;
  height: 50px;
  border: solid 1px blue;
  position: absolute;
  text-align: right; }
  /* line 68, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
  .nav-bar ul {
    display: flex;
    flex-direction: row;
    border: solid 1px green;
    width: 100%;
    height: 100%;
    text-align: right;
    justify-content: right;
    background-color: #af473c;
    margin-top: 0;
    vertical-align: middle; }
    /* line 83, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/_header.scss */
    .nav-bar ul li {
      padding: 13px 15px;
      text-align: right;
      text-transform: uppercase;
      border: solid 1px gold;
      vertical-align: middle;
      margin-right: 10px;
      font-family: 'Cairo' ,sans-serif;
      list-style: none; }

/*# sourceMappingURL=style.css.map */