/* line 5, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
* {
  font-family: 'Cairo' ,sans-serif; }

/* line 9, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
h1 {
  text-align: center; }

/* line 13, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
p {
  font-size: 18px;
  text-align: center;
  margin-top: 25px; }

/* line 19, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
.temp {
  background-color: #af473c;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  position: relative;
  right: -45%;
  margin-bottom: 10px; }

/*contact form styling */
/* line 32, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
.contact-form {
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 10px 25%; }

/* line 40, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
.container {
  font-size: 16px;
  border-radius: 35px;
  background-color: #af473c;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  width: 50%;
  justify-content: center;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px; }

/* line 55, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
input[type=text], select, textarea {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 16px;
  resize: vertical;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px; }

/* line 71, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  justify-content: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px; }

/* line 86, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
.check {
  margin-bottom: 10px; }

/* line 90, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
.myCheck {
  width: 100%;
  margin-bottom: 5px; }

/* line 96, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
input[type=submit]:hover {
  background-color: #45a049; }

/* line 101, ../../../../../../../../../../../../../Users/imac/Documents/GitHub/terra-pairs/scss/layout/contact.scss */
#mapid {
  height: 180px; }

/*# sourceMappingURL=contact.css.map */