

.email {
    text-transform: uppercase;
}
  
.book {
    text-transform: uppercase; 
}
  
.title{
    text-transform: uppercase;

}

header{
    p{
        font-size: 20px;
        font-weight: 200;
    }
}
