
header{
    background-image: url(../../Lobster1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    color: #fff;
    
    p{
        font-size: 20px;
        font-weight: 200;
    }
}

.logo-top{
    font-family: 'Coming Soon', cursive;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    color: #af473c;
}

.logo-bottom{
    font-family:'Cairo' ,sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.logo{
    justify-content: left;
}


.action{
    justify-content: right;
    
}

.email {
    text-transform: uppercase;
}
  
.book {
    padding:10px 20px ;
    text-transform: uppercase;
    background-color: #af473c;
    color: #fff;
    font-size:20px;
}
  
.title{
    text-transform: uppercase;
}




.nav-bar{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    border: solid 1px blue;
    position: absolute;
    
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    li{
        border: solid 1px blue;
        padding:10px;
        font-size: 25px;
        
    }
}