
header{
    background-image: url(../img/lobster1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    p{
        font-size: 20px;
        font-weight: 200;
    }
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px; 
}

.logo-top{
    font-family: 'Coming Soon', cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    color: $terra-red;
    text-align: center;
}

.logo-bottom{
    font-family:'Cairo' ,sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 5px;
}

.logo{
    justify-content: left;
}


.action{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    position: absolute;
    right: 20px;
    justify-content: right;
    text-align: right;
    margin-right: 20px;
    margin-top: 40px;
    width: auto;
    height: auto ;
    //border: solid 1px blue;
}

.in-touch{
    //border: solid 1px green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: auto;
    position: absolute;
    margin-right: 40px;
    justify-content: right;
    
}

.email {
    text-transform: uppercase;
    margin-right: 0;
    //border: solid 1px gold;
    width: auto;
    height: max-content;
    justify-content: right;
    text-align: right;
}

.telephone{
    //border: solid 1px gold;
    width: auto;
    height: max-content;
    margin-left: 10px;
}

.book {
    padding: 2px 20px ;
    text-transform: uppercase;
    background-color: $terra-red;
    color: #fff;
    font-size:20px;
}
  
.title{
    text-transform: uppercase;
    margin-top: 10px;
    margin-right: 35px;

    .slogan{
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 5px;
    }
    p{
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .line{
        width: 200px;
        height: 1px;
        background-color: white;
        position: absolute;
        right: 40px;
        margin-top: -20px;

    }
}

.nav-bar{
    display:block;
    width: 100%;
    height: 50px;
    text-align: right;
    background-color: $terra-red;

    
    
    .nav-bar-contents{
        display: flex;
        justify-content: right;               
    }

    ul{

        display: flex;
        flex-direction: row;
        //border: solid 1px green;
        width: 100%;
        height:100%;
        text-align: right;
        justify-content: right;
        // background-color: #af473c;
        margin-top:0;
        vertical-align: middle;
    
        li{
            padding:13px 0px;
            text-align: right;
            text-transform: uppercase;
            //border: solid 1px gold;
            vertical-align: middle;
            margin-right:40px;
            color: white;
            list-style: none;

            a {
                font-family:'Cairo' ,sans-serif;
                letter-spacing: 3px;
                font-weight: 200;
            }
        }
    }
}

