
h2{
    text-transform: uppercase;
    color: $terra-red;
    letter-spacing: 3px;
    font-size: 40px; // This isn't right.
    font-weight: 300;
}

h4{
    color: $terra-red;
    letter-spacing: 2px;
    font-size: 35px; // This isn't right.
    font-weight: 300;
}


// Services cards

.cards{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 100px;

    .card{
        display: flex;
        flex-direction: column;
        width: 380px;
        flex-wrap: wrap;
        align-items: center;

        .content-img{
            width: 400px;
            height: 300px;
        }

        h4{
            font-size: 20px;
            text-transform: uppercase;
        }

        .content-span{
            width: 80px;
            height: 1px;
            background-color: $terra-red;
            margin-top: -10px;
        }

        p{
            text-align: center;
        }

    }
}

.booking-bckgrnd {
    background-color: black;
    height: 150px;
    margin-top: 50px;


    .booking-ctn {
        display: flex;
        align-items: center;
        padding-top: 40px;

        p{
            color: white;
            font-size: 20px;
            margin-right: 20px;
        }

        div{
            background-color: white;
            width: 200px;
            display: flex;
            align-items: center;
            height: 50px;
            justify-content: center;
            
        }
    }
}

.partners-ctn{
    
    .content-dash{
        margin-bottom: 50px;
    }
    
    .partners {
        display: flex;
        justify-content: space-between;

        .img-1{
            width: 200px;
            height: 125px;
        }

        .img-2{
            width: 400px;
            height: 125px;
        }
        .img-3{
            width: 200px;
            height: 125px;
        }
    }

}