.main-srvc {
    height: 1400px;
    background-color: $terra-red;

    .seperator{
        background-color: white;
        height: 1px;
        width: 100%;
        margin-bottom: 10px;
    }

    .content-srvc{
        color: white;
        
        h1{
            font-size: 50px;

        }
    }

    .cards{
        display: flex;
        flex-direction: column;


        .card{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;

            p{
                width: 60%;
                margin: 0px 20px;
            }

            .srvc-img-1{
                background-image: url(https://via.placeholder.com/400); 
                height: 400px;
                width: 400px;
                
            }

            .srvc-img-2{
                background-image: url(https://via.placeholder.com/400); 
                height: 400px;
                width: 400px;
            }

            .srvc-img-3{
                background-image: url(https://via.placeholder.com/400); 
                height: 400px;
                width: 400px;
            }

        }
    }
}
