
main{
   padding: 0 40px;
   
}


.testies{
   display: flex;
   
   height:950px;
   width: 100%;
   justify-content: space-between;
   padding:75px 0 ;
}

.story{
   border: inset 5px slategray;
   border-radius: 3px;
   width: 22%;
   height: auto;
   padding:0 10px ;

   .checked{
      color: orange;
      align-content: center;
   }

   .line{
      margin-top: 30px;
      margin-left: 25%;
      width: 50%;
      background-color: #000;
      height: 2px;
   }

   .rate{
      margin-left: 25%;
   }

   .star{
      color: #000;
      
   }
   h3{
      text-align: center;
      font-weight: 600 ;
   }

   p{
      text-align: left;
      margin-bottom: 50px;
   }

   span{
      margin-top: 50px;
      //border: solid 1px blue;
      font-style: italic;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: underline 3px;
      width: 100%;
      
   }
}



