.fas {
    font-size: 30px;
    color: white;
}

.fa-quote-left {
    position: absolute;
    top: 20px;
    left: 300px;
}

.fa-quote-right{
    position: absolute;
    top: 130px;
    right: 200px;
}