@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: serif;
    font-weight: normal;
    background: none;
    border: none;
    letter-spacing: .4px;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
p{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
hr.styled {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
hr.styled-small{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 10px;
}